{% extends "template.html"%}
{% load staticfiles %}

{% block content %}
<nav class="navbar navbar-expand-lg" style="background-color:rgb(149,53,102)">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="fas fa-bars"></i> </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">لذت متن <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">لذت نقد</a>
        </li>

        <li class="nav-item col-2 brand">
          <img src="{% static 'img/brand.png' %}" class="img-fluid">
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item"> <a class="nav-link" href="#">چهل سالگی</a></li>
        <li class="nav-item"> <a class="nav-link" href="#">پادساعت</a></li>
        <li class="nav-item"> <a class="nav-link" href="#"><i class="fas fa-search"></i></a></li>
      </ul>

      </div>



</nav>

<div class="row" style="background-color:rgb(149,53,102);">

      <div class="col-6 sldr">
        <div class="card mycard shadow">
          <div class="card-body row">
            <div class="card-title col-6 fill"  style="background-image: url('avatar.jpg'); border-radius:3%;" >
            </div>


            <div class="col-6">
              <div class="row" style="padding:5%;">
                <div class="row col-12"><p style="color:gray ; font-size:0.7rem"> بیایید در این شرایط اقتصادی احتکار نکنیم  </p> </div>
                <div class="row col-12"><h6> بیایید در این شرایط اقتصادی احتکار نکنیم  </h6> </div>
              </div>
              <div class="divintro"><p class="card-text"> بیایید در این شرایط اقتصادی احتکار نکنی  بیایید در این شرایط اقتصادی احتکار نکنی  بیایید در این شرایط اقتصادی احتکار نکنی  بیایید در این شرایط اقتصادی احتکار نکنی  بیایید در این شرایط اقتصادی احتکار نکنی  بیایید در این شرایط اقتصادی احتی احتکار نکنی</p></div>
            </div>

          </div>





        </div>
      </div>


        <div class="col-6 sldr">
        <div class="card mycard shadow">
          <div class="card-body">
            <div class="row mid">
              <div class="col-6">
                <div class="row">
                  <div class="col-4 mid"><img src="avatar.jpg" class="rounded-circle img-fluid"></div>
                  <div class="col-8 mid"> <h6> بیایید در این شرایط اقتصادی احتکار نکنیم  </h6></div>
                </div>
                <div class="row">
                  <div class="divintro mid"><span class="intro"> بیایید در این شرایط اقتصادی احتکار نکنی</span></div>
                </div>
              </div>
              <div class="col-6 mid">
                <div class="divintro"><p class="card-text"> بیایید در این شرایط اقتصادی احتکار نکنی  بیایید در این شرایط اقتصادی احتکار نکنی  بیایید در این شرایط اقتصادی احتکار نکنی  بیایید در این شرایط اقتصادی احتکار نکنی  بیایید در این شرایط اقتصادی احتکار نکنی  بیایید در این شرایط اقتصادی احتکار نکنی بیایید در این شرایط اقتصادی احتکار نکنی  بیایید در این شرایط اقتصادی احتکار نکنی  بیایید در ی احتکار نکنی</p></div>
              </div>
            </div>

            <div class="row">
              <span class="bdg badge badge-pill badge-secondary">&nbsp&nbspبهمان&nbsp&nbsp</span>
              <span class="bdg badge badge-pill badge-secondary">&nbsp&nbspبهمان&nbsp&nbsp</span>
              <span class="bdg badge badge-pill badge-secondary">&nbsp&nbspبهمان&nbsp&nbsp</span>
              <span class="bdg badge badge-pill badge-secondary">&nbsp&nbspبهمان&nbsp&nbsp</span>

            </div>

          </div>
        </div>
      </div>

</div>


<div class="card-columns" style="margin-left: 3% ; margin-right: 3%">
  <div class="card mycard shadow">
          <div class="card-body">
            <div class="row mid">
              <div class="col-6">
                <div class="row">
                  <div class="col-4 mid"><img src="avatar.jpg" class="rounded-circle img-fluid"></div>
                  <div class="col-8 mid"> <h6> بیایید در این شرایط اقتصادی احتکار نکنیم  </h6></div>
                </div>
                <div class="row">
                  <div class="divintro mid"><span class="intro"> بیایید در این شرایط اقتصادی احتکار نکنی</span></div>
                </div>
              </div>
              <div class="col-6 mid">
                <div class="divintro"><p class="card-text"> بیایید در این شرایط اقتصادی احتکار نکنی  بیایید در این شرایط اقتصادی احتکار نکنی  بیایید در این شرایط اقتصادی احتکار نکنی  بیایید در این شرایط اقتصادی احتکار نکنی  بیایید در این شرایط اقتصادی احتکار نکنی  بیایید در این شرایط اقتصادی احتکار نکنی بیایید در این شرایط اقتصادی احتکار نکنی  بیایید در این شرایط اقتصادی احتکار نکنی  بیایید در ی احتکار نکنی</p></div>
              </div>
            </div>

            <div class="row">
              <span class="bdg badge badge-pill badge-secondary">&nbsp&nbspبهمان&nbsp&nbsp</span>
              <span class="bdg badge badge-pill badge-secondary">&nbsp&nbspبهمان&nbsp&nbsp</span>
              <span class="bdg badge badge-pill badge-secondary">&nbsp&nbspبهمان&nbsp&nbsp</span>
              <span class="bdg badge badge-pill badge-secondary">&nbsp&nbspبهمان&nbsp&nbsp</span>

            </div>

          </div>
        </div>

  <div class="card mycard shadow">
          <div class="card-body">
            <div class="row mid">
              <div class="col-6">
                <div class="row">
                  <div class="col-4 mid"><img src="avatar.jpg" class="rounded-circle img-fluid"></div>
                  <div class="col-8 mid"> <h6> بیایید در این شرایط اقتصادی احتکار نکنیم  </h6></div>
                </div>
                <div class="row">
                  <div class="divintro mid"><span class="intro"> بیایید در این شرایط اقتصادی احتکار نکنی</span></div>
                </div>
              </div>
              <div class="col-6 mid">
                <div class="divintro"><p class="card-text"> بیایید در این شرایط اقتصادی احتکار نکنی  بیایید در این شرایط اقتصادی احتکار نکنی  بیایید در این شرایط اقتصادی احتکار نکنی  بیایید در این شرایط اقتصادی احتکار نکنی  بیایید در این شرایط اقتصادی احتکار نکنی  بیایید در این شرایط اقتصادی احتکار نکنی بیایید در این شرایط اقتصادی احتکار نکنی  بیایید در این شرایط اقتصادی احتکار نکنی  بیایید در ی احتکار نکنی</p></div>
              </div>
            </div>

            <div class="row">
              <span class="bdg badge badge-pill badge-secondary">&nbsp&nbspبهمان&nbsp&nbsp</span>
              <span class="bdg badge badge-pill badge-secondary">&nbsp&nbspبهمان&nbsp&nbsp</span>
              <span class="bdg badge badge-pill badge-secondary">&nbsp&nbspبهمان&nbsp&nbsp</span>
              <span class="bdg badge badge-pill badge-secondary">&nbsp&nbspبهمان&nbsp&nbsp</span>

            </div>

          </div>
        </div>
  <div class="card mycard shadow">
          <div style="background-color: mediumpurple ;height: 0.3rem; border-radius: 25%;" ></div>
          <div class="card-body">
            <div class="row mid">
              <div class="col-6">
                <div class="row">
                  <div class="col-4 mid"><img src="avatar.jpg" class="rounded-circle img-fluid"></div>
                  <div class="col-8 mid"> <h6> بیایید در تصادی احتکار نکنیم  </h6></div>
                </div>
                <div class="row">
                  <div class="divintro mid"><span class="intro"> بیایید در این ادی احتکار نکنی</span></div>
                </div>
              </div>
              <div class="col-6 mid">
                <div class="divintro"><p class="card-text"> بیایید در این شرایط اقتصادی احتکار نکنی  بیایید در این شرایط اقتصادی احتکار نکنی  بیایید در این شرایط اقتصادی احتکار نکنی  بیایید در این شرایط اقتصادی احتکار نکنیتکار نکنی  بد ر نی</p></div>
              </div>
            </div>

            <div class="row">
              <span class="bdg badge badge-pill badge-secondary">&nbsp&nbspبهمان&nbsp&nbsp</span>
              <span class="bdg badge badge-pill badge-secondary">&nbsp&nbspبهمان&nbsp&nbsp</span>
              <span class="bdg badge badge-pill badge-secondary">&nbsp&nbspبهمان&nbsp&nbsp</span>
              <span class="bdg badge badge-pill badge-secondary">&nbsp&nbspبهمان&nbsp&nbsp</span>

            </div>

          </div>
        </div>



    <div class="card mycard shadow">
      <div class="card card-accent-secondary mb-3" style="max-width: 18rem;"> </div>
          <div class="card-body">
            <div class="row mid">
              <div class="col-6">
                <div class="row">
                  <div class="col-4 mid"><img src="avatar.jpg" class="rounded-circle img-fluid"></div>
                  <div class="col-8 mid"> <h6> بیایید در تصادی احتکار نکنیم  </h6></div>
                </div>
                <div class="row">
                  <div class="divintro mid"><span class="intro"> بیایید در این ادی احتکار نکنی</span></div>
                </div>
              </div>
              <div class="col-6 mid">
                <div class="divintro"><p class="card-text"> بیایید در این شرایط اقتصادی احتکار نکنی  بیایید در این شرایط اقتصادی احتکار نکنی  بیایید در این شرایط اقتصادی احتکار نکنی  بیایید در این شرایط اقتصادی احتکار نکنیتکار نکنی  بد ر نی</p></div>
              </div>
            </div>



          </div>
        </div>

  <div class="card mycard shadow">
          <div class="card-body">
            <div class="row mid">
              <div class="col-6">
                <div class="row">
                  <div class="col-4 mid"><img src="avatar.jpg" class="rounded-circle img-fluid"></div>
                  <div class="col-8 mid"> <h6> بیایید در تصادی احتکار نکنیم  </h6></div>
                </div>
                <div class="row">
                  <div class="divintro mid"><span class="intro"> بیایید در این ادی احتکار نکنی</span></div>
                </div>
              </div>
              <div class="col-6 mid">
                <div class="divintro"><p class="card-text"> بیایید در این شرایط اقتصادی احتکار نکنی  بیایید در این شرایط اقتصادی احتکار نکنی  بیایید در این شرایط اقتصادی احتکار نکنی  بیایید در</p></div>
              </div>
            </div>



          </div>
        </div>
</div>



<script type="text/javascript" src="{% static 'js/js.js' %}"></script>

{% endblock %}
