@font-face {

    font-family: Iransans;
    src: url('iransans/woff/IRANSansWeb.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body  {
 background-repeat: no-repeat;
 background-color: rgb(224,224,224);
 font-family: Iransans;
 line-height:1.5em;
 font-size: 0.8vw;
}




.user {
  width: 150%;
  height: 150%;
  border-radius: 50%;

  object-fit: cover;
}

.mid {
  display: flex;
  align-items: center;
}

.heart {
  font-size:100%;
}

.share {
  font-size:100%;
}
.gray{
  color:gray;
}

.red{
  color:red;
}

.icon{
  padding: 10%;
}

.intro{
  color: rgba(0, 0, 0, 0.749);
border-radius: 10px;
padding: 2%;
margin-top:5%;
text-align: justify;
line-height: 1.8 !important;
}

.fill {
    overflow: hidden;
    background-size: cover;
    background-position: center;

}


.navbar {
    position: relative;
}
.brand {
    position: absolute;
    left: 50%;
    margin-left: -10% !important;  /* 50% of your logo width */
    display: block;
}


.bdg{
  margin: 1%;
  font-size: 0.8rem;
  font-style:normal;
  font-weight: normal;
  border-color: black;


}

.card-title{
  margin-bottom: 1.6rem !important;
}


.divintro{
  margin-bottom: 2rem;
}

.divint {
      background-color: rgb(242,245,242);
  border-radius: 3%;
}

.card-text{
  color: rgba(0, 0, 0, 0.702);
  line-height:1.7rem !important;
  text-align: justify;
}


.mycard{
  margin-top: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 3%;

}


.zoom{

   cursor: pointer;

}

.zoom:hover{
   cursor: pointer;
  }

.nav-item{
  font-size: 0.8rem;
  color: white;
}

.nav-link{
  font-size: 0.8rem;
  color: white;
}




.sldr{
  padding:  3%;
}

.card-columns {
    column-count: 5;
}








.owl-carousel,
.bx-wrapper { direction: ltr; }
.owl-carousel .owl-item { direction: rtl; }



.owl-carousel .owl-stage {
    display: flex;
}

.owl-carousel .owl-item .card {
    width: auto;
    height: 80%;
    margin-right:5% ;
    margin-left:5% ;

}






.social {
    border-radius: 50%;
    border: none;
    width: 35px;
    height: 35px;
      text-align: center;
  text-decoration: none;
  display: inline-block;
}

.twitter {
    background-color: #00AEEF;

}


.telegram {
    background-color: #2ba1de;

}



.facebook  {
    background-color: #3b5998;

}


.linkedin{

    background-color: #007AB5;


}

.envelope{
    background-color: slategray;
}

.mylist{
    border-color: lightslategray !important;
    padding: 2%;
    background-color: whitesmoke;
}

.myreply {
    color: midnightblue;
}

.card-deck > .card
{
    width: 17%;
    flex-wrap: wrap;
    flex: initial;
}